@import 'elf'
//debug(color = gray)

#PublicContainer
  position: absolute
  top: 0
  bottom: 0
  height: auto
  right: 0
  left: 0
  width: auto
#content_Wrapper
  width: auto;
  max-width: 1410px;
  display: block;
  margin-right: auto;
  margin-left: auto;