<template name="spotlight">
 <!-- Title -->
  <div id="spotlight_Wrapper">
    <h2 class="ui header">
      <i class="find icon"></i>
      <div class="content">
        Spotlight
      </div>
    </h2>
  <!-- Table -->
  <div class="ui segment table_Wrapper">
      <table class="ui celled table">
        <thead>
          <tr>
            <th>Number</th>
            <th>First Name</th>
            <th>Email</th>
            <th>Verified</th>
          </tr>
        </thead>
        <tbody>
          {{#if subReady}}
              {{#each pHappyData}}
                <tr class="{{spotlighter}}">
                  <td>{{number}}</td>
                  <td>{{firstName}}</td>
                  <td>{{email.address}}</td>
                  {{#if  email.verified}}
                    <td>True</td>
                    {{else}}
                    <td>False</td>
                  {{/if}}
                </tr>
              {{/each}}
            {{else}}
              {{> Loading}}
          {{/if}}
        </tbody>
      </table>
      {{> PageHappy_UI context=pHappyContext}}
  </div>

    <div class="spotlightOptions_Wrapper segment ui">
      <div class="segment ui">
        <div class="ui basic blue buttons">
        <div class="ui button spEven">Even</div>
        <div class="ui button spTrue">True</div>
        <div class="ui button spName">Divisable by 3</div>
      </div>
      </div>
    </div>
  </div>
</template> 