<template name="PageHappy_UI">
  <div id="pageHappyUI_Container">
    {{#if pag_showUI}}
    <img src="/imgs/shadow-bottom.png" class="pagShadow" />
      <div class="ui menu pag-menu">
        <!-- Prev Button -->
        <a class="icon item pag-prev pag-arrow {{pag_disable.prev}}">
          <i class="left arrow icon"></i>
        </a>

        <!-- First Page Icon -->
        {{#if pag_Size 1}}
          <a class="item pag-item {{pag_active 1}}" data-pageNumber="1">
            1
          </a>    
        {{/if}}

        <!-- Sencond Page Icon -->
        {{#if pag_Size 2}}
          <a class="item pag-item {{pag_active 2}}" data-pageNumber="2">
            2
          </a>
        {{/if}}

        <!-- Third Page Icon-->
        {{#if pag_Size 3}}
          <a class="item pag-item {{pag_active 3}}" data-pageNumber="3">
            3
          </a>
        {{/if}}

        <!-- Drop Down -->
        {{#if pag_Size 4}}
          <div class="item {{pag_active 'selector'}} pagdropdown">
          <div id="pag_dropdownSearch" class="ui floating bottom pointing dropdown labeled search icon button">
            <i class="dropdown icon"></i>
            <span class="text">{{pag_currentPage}}</span>
            <div class="menu">
              {{#each pag_pageList}}
                <div class="item pag-pageSelection" data-pageNumber="{{pag_pageNumber}}">
                  {{pag_pageNumber}}
                </div>
              {{/each}}
            </div>
          </div>
          of {{pag_lastPage}}
          </div>
        {{/if}}

        <!-- Last Page -->
        <a class="item pag-item {{pag_active 'last'}}" data-pageNumber="{{pag_lastPage}}">
          {{pag_lastPage}}
        </a>

        <!-- Next Button -->
        <a class="icon item pag-next pag-arrow {{pag_disable.next}}">
          <i class="right arrow icon"></i>
        </a>
      </div>
    {{/if}}
  </div>
</template>
