<template name="index">





<!-- {{page}} -->

</template>


<template name="pageData">
  <table class="ui celled table">
    <tbody>
      <tr>
        <td>
          <div class="button ui small teal unHighlight">
            Reset Highlight Query
          </div>
        </td>
        <td>
          <div class="button ui small teal highlightEven">
            Highlight Even
          </div>
        </td>
        <td>
          <div class="button ui small teal highlightOdd">
            Highlight Odd
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="button ui small teal unHighlight">
            Reset Custom Transform
          </div>
        </td>
        <td>
          <div class="button ui small teal highlightEven">
            Custom T
          </div>
        </td>
        <td>
          <div class="button ui small teal highlightOdd">
            Custom T
          </div>
        </td>
      </tr>
    </tbody>
  </table>

<div class="button ui huge settings">5</div>
<div class="button ui huge ten">10</div>
<div class="button ui huge twenty">25</div>
  <div class="pageData_Container">
    <div class="inner">
      
    {{#if subReady}}
        {{#each page}}
          <li class="{{highlight}}">{{firstName}} - {{number}} -->{{odd}} </li>
        {{/each}}
      {{else}}
        {{> Loading}}
    {{/if}}
    </div>

    {{> PageCreator_UI context=pager}}
  </div>
</template>

<template name="local">
  <h1>Local Collection</h1>
  
  <div class="stats">
    <div class="ui statistics">
  <div class="statistic">
    <div class="value">
      {{local}}
    </div>
    <div class="label">
      Local Colection Size
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      {{pager}}
    </div>
    <div class="label">
      Pager Collection Size
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      {{people}}
    </div>
    <div class="label">
    Polled Collection Size
    </div>
  </div>
</div>



<!-- <div class="pagesLoaded">
{{#each pages}}
  <a class="ui {{current}} circular label">
    {{num}}
  </a>  
{{/each}}
</div> -->
  </div>
  <div class="pageData_Container">
    <div class="inner">
      
    {{#if subReady}}
        {{#each page}}
          <li class="{{highlight}}">{{firstName}} - {{number}} -->{{odd}} </li>
        {{/each}}
      {{else}}
        {{> Loading}}
    {{/if}}
    </div>

    {{> PageCreator_UI context=context}}
  </div>

<!--   <div class="data">
    {{#each localData}}
      <ul>
        <li>{{pagerId}}</li>
        <li>Number: {{number}}</li>
        <li>Name: {{name}}</li>
        <li>Page: {{page}}</li>
      </ul>
    {{/each}}
  </div> -->
</template>

<template name="Loading">
  <div id="Loading"></div>
</template>


<template name="nextPage">
  <h1>Next Page</h1>
  <a href="{{pathFor route='index.link'}}">Back</a>
  {{> local}}
</template>