
<template name="adduser">
  <!-- Title -->
  <div id="insight_Wrapper">
    <h2 class="ui header">
      <i class="configure icon"></i>
      <div class="content">
        Insight
      </div>
    </h2>
  <!-- Table -->
  <div class="ui segment table_Wrapper">
      <table class="ui celled table">
        <thead>
          <tr>
            <th>Number</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          {{#if  subReady}}
              {{#each pHappyData}}
                <tr>
                  <td>{{number}}</td>
                  <td>{{firstName}}</td>
                  <td>{{lastName}}</td>
                  <td>{{email.address}}</td>
                </tr>
              {{/each}}
            {{else}}
              {{> Loading}}
          {{/if}}
        </tbody>
      </table>
      {{> PageHappy_UI context=pHappyContext}}
  </div>

    <div class="dataInsight_Wrapper">
    <button class="addUser">Add Users</button>
<div class="ui statistics">
  <div class="statistic">
    <div class="value">
      {{localCol}}
    </div>
    <div class="label">
      Local Collection
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      {{shareCol}}
    </div>
    <div class="label">
      Shared Collection
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      {{getPublishedCount 'peopleCount'}}
    </div>
    <div class="label">
      People Collection
    </div>
  </div>
</div>

<div class="pagesLoaded_Wrapper">
  <div class="segment ui">
    <div class="ui circular labels">
      {{#each pagesLoaded}}
        <div class="ui label" style="background: {{color}}">
          {{num}}
        </div>
      {{/each}}
    </div>
  </div>
</div>

<div class="ui divided list">
  {{#each pHappyShared}}
    <div class="item">
      <div class="ui label data">
        {{number}}
      </div>
      <div class="data">
        <span>Id:</span> <p>{{_id}}</p>
      </div>
      <div class="data item">
        <i class="user icon"></i>
        <span>Name:</span> <p>{{first}}</p>
      </div>
      <div class="data item">
        <i class="file Outline icon" style="color: {{color}}"></i>
        <span>Page:</span> {{pageNum}}
      </div>
    </div>
  {{/each}}
</div>
    </div>
  </div>
</template>