@import 'elf'

#pageHappyUI_Container
  span(1)
  margin-top: -15px;

#insight_Wrapper
  .table_Wrapper
    span(1/2)
    height: auto

  .dataInsight_Wrapper
    span(1/2)
    padding-left: 5px
    .list
      .item
        align-children(direction = vertical)
        .data
          margin: 0px auto
          width: calc(100%*1/2 - 180px)
          float: left
          &:first-child
            width: 40px
            margin-right: 10px
            text-align: center
          &:nth-child(4)
            width: 125px
          span
            font-weight: bold
            float: left

  .pagesLoaded_Wrapper
    .segment
      padding: 5px
      background: transparent
      .labels
        .label
          margin-bottom: 0px !important

  .list
    height: 600px
    overflow-y: scroll